@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

* {
  //outline: 1px solid #f00 !important;
}

#root {
  white-space: pre-line;
}

.popup-container {
  background-color: #f0f0f0;
  border: 2px solid #f999ba;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  max-width: 300px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  pointer-events: auto;
}

.popup-title {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 18px;
  pointer-events: auto;
}

.popup-title-highlight {
  font-size: 36px;
  line-height: 1.2;
  pointer-events: auto;
}

.popup-detail {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  pointer-events: auto;
}

.popup-detail-highlight {
  font-weight: bold;
  pointer-events: auto;
}

/* Light Theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: #dbdbdb;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #f390b0;
  border-radius: 9999px;
}

/* Dark Theme */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.dark ::-webkit-scrollbar-track-piece {
  background-color: #444444;
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #fc99ba;
  border-radius: 9999px;
}

#sphere-map .mapbox-gl-draw_ctrl-draw-btn {
  background-size: 22px;
  background-color: #fc99ba;
  border: 1px solid #dddddd;
}
#sphere-map .mapbox-gl-draw_ctrl-draw-btn:hover {
  background-size: 24px;
  background-color: #ffbdd4;
}
#sphere-map .mapbox-gl-draw_ctrl-draw-btn:first-child {
  border-radius: 3px 3px 0px 0px;
}
#sphere-map .mapbox-gl-draw_ctrl-draw-btn:last-child {
  border-radius: 0px 0px 3px 3px;
}
#sphere-map .mapbox-gl-draw_polygon {
  background-image: url('https://www.svgrepo.com/show/399227/polygon-pt.svg');
}
#sphere-map .mapbox-gl-draw_point {
  background-image: url('https://www.svgrepo.com/show/399217/point.svg');
}
#sphere-map .mapbox-gl-draw_trash {
  background-image: url('https://www.svgrepo.com/show/511178/trash-full.svg');
}
